<div class="popup_nav">
    <div class="close_popup_nav"><img src="../images/cross-icon.svg" width="40px" height="40px"></div>
    <ul>
        <li><a href="{{site.url}}/">Home</a></li>
        <li><a href="{{site.url}}/about-me/">About Me</a>            
        <li><a href="{{site.url}}/contact-me/">Contact Me</a></li>
    </ul>
    <div class="popup_nav_logo"><img src="../images/logo.png"></div>
</div>

<header>
<div class="container">
<div class="row">
<div class="col-md-12">
<nav class="navbar">
	<a href="{{site.url}}" class="navbar-brand"><img src="../images/logo.png"></a>
	<span class="nav_toggle"><img src="../images/hamburger-menu-icon.svg" width="45px" height="45px"></span>
		<ul>
		<li><a href="{{site.url}}/">Home</a></li>
		<li><a href="{{site.url}}/about-me/">About Me</a></li>
		<li><a href="{{site.url}}/blog/">Blog</a></li>
		<li><a href="{{site.url}}/contact-me/">Contact Me</a></li>
		</ul>
</nav>
</div>
</div>
</div>
</header>